/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{
    display: flex;
    width: 100%;
    height: 100vh;
    max-height: 450px;
    max-width: 850px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container {
    background: #fff;
    padding: 20px 30px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    text-align: center;
    width: 100%;
    
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-options a {
    text-decoration: none;
    color: #007BFF;
    font-size: 0.9rem;
}

.form-options a:hover {
    text-decoration: underline;
}

button.login-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button.login-button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    color: #777;
}

p a {
    text-decoration: none;
    color: #007BFF;
}

p a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
}